:root {

    --blue: lightskyblue;
    --white: rgb(235, 235, 235);
    --gray: gray;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, li {
    list-style-type: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

header {
    background-color: var(--white);
}

header li {
    display: inline-block;
}

header .flex {
justify-content: space-between;
align-items: center;
height: 40px;
}


header .flex * {
margin: 0px 10px;
 }

.navbar {
    display: grid;
    grid-template: 1fr 1fr / 1fr 6fr 3fr;
    align-items: center;
}

.navbar .user-avatar {
grid-row: 1 / 3;
}

.navbar ul {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.navbar p {
    grid-column: 2;
}

.sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 2fr 9fr 10fr;
    align-items: center;
    justify-items: center;
}

main {
    background-color: var(--gray);
    display: grid;
    grid-template: 0.3fr repeat(3, 1fr) / repeat(auto-fit, minmax(150px, 1fr));

}

.flex {
    display: flex;
}


